<div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
        <label for="roll.modifier.extra">Modifier:</label>
        <input type="text" name="roll.modifier.extra" id="roll.modifier.extra" value="0" data-dtype="Number" />
        {{#if secondAttribute}}
        <label for="roll.modifier.extra.attribute">Second attribute:</label>
        <select name="secondAttribute" id="secondAttribute">
            <option value="For">FOR</option>
            <option value="Dex">DEX</option>
        </select>
        {{/if}}
    </div>
</div>